{{!-- displays past posts when on homepage --}}
<section class = "PostCard" >
    <div class = "card">
        <div class = "postname">
            <div class = "title"
            <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            {{!-- time stamps --}}
            <div class = "Postedby">
                <h1 "Username">
                  Created: <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>   
                </h1>
            </div>
        </div>
        {{!-- displays content of post --}}
      <div class = "content" >
         <p>{{content}}</p>
      </div>
    </div>
</section>